<meta name="description" content="{{ site.description }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset_url 'css/style.css' }}">
<link rel="stylesheet" href="{{ asset_url 'css/prism-ember.css' }}">
{{ if page && page.collection && page.collection.feed }}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Feed" href="{{ site.base_url }}{{ page.collection.url }}feed.xml">
{{ end }}
{{ if collection && collection.feed }}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Feed" href="{{ site.base_url }}{{ collection.url }}feed.xml">
{{ end }}
